@page
@model IndexModel
@using MajorProject.Models;
@using MajorProject.Data;
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
@{
    ViewData["Title"] = "Home page";
}
@using Microsoft.AspNetCore.Identity
@using MajorProject.Models.Enums

@*----- to find if user is logged in *@
@inject SignInManager<IdentityUser> _signInManager

@*----- gets the user object to see properties, roles *@
@inject UserManager<IdentityUser> _userManager

@{
    bool isLoggedIn = _signInManager.IsSignedIn(this.User);

    bool isUserAdmin = false;
    IdentityUser user = await _userManager.GetUserAsync(this.User);         // gets the Logged In User
    if (user != null)
    {
        isUserAdmin = await _userManager.IsInRoleAsync(user, MyIdentityRoleNames.PortalAdmin.ToString());
    }

}
<style>
    body{
        background-image: url("lib/back3.jpg") ;
        /*background-repeat: no-repeat;*/
        background-size: contain;
    }
 
</style>
<div>
    @if (isLoggedIn){
            @if(@user.PhoneNumber == null)
            {
                <p>Please Update your profile</p>
            }
    }
</div>
<div class="container-fluid">
    <h3><b class="text-white">Upcoming Events</b></h3>
    @if (isLoggedIn)
    {
        <a class="btn btn-danger" asp-area="BikePortal" asp-controller="UpcomingEvents"
           asp-action="Index">More Events</a>
    }
    <img src="Events\Photo\257da511-1612-4d8b-add8-9bfabeef5b64_Event1.jpg" alt="Los Angeles" width="600" height="400" class="d-block w-100">
    <br />
    <br />
</div>

<div class="container">
    <h3><b class="text-white">Offers</b></h3>
    @if (isLoggedIn)
    {
        <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Bikes"
       asp-action="Index">More Offers</a>
    }
    <div class="row gy-3 my-3">
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="lib/Hero1.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">Hero Xtreme 160R</h4>
                    <p class="card-text"><b>Offer till september.</b></p>
                    <p>Original Price : <strike><b>175000</b></strike></p>
                    <p>Discounted Price : <b>120000</b></p>
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Bikes"
                       asp-action="Offer"
                       asp-route-filterBikeName="Hero Xtreme 160R">Book To Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="Bikes\Photo\362553c7-8c1f-401d-b3a5-c316220acb5b_Bajaj1.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">Bajaj Dominar 400 (Aurora Green)</h4>
                    <p class="card-text"><b>Offer till september.</b></p>
                    <p>Original Price : <strike><b>250000</b></strike></p>
                    <p>Discounted Price : <b>216000</b></p>
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Bikes"
                       asp-action="Offer"
                       asp-route-filterBikeName="Bajaj Dominar 400 (Aurora Green)">Book To Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="Bikes\Photo\7fb70c56-61ac-43ae-871d-c1bbf148fb10_TVs2.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">TVS Raider</h4>
                    <p class="card-text"><b>Offer till september.</b></p>
                    <p>Original Price : <strike><b>125000</b></strike></p>
                    <p>Discounted Price : <b>90000</b></p>
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Bikes"
                       asp-action="Offer"
                       asp-route-filterBikeName="TVS Raider">Book To Buy</a>
                </div>
            </div>
        </div>
    </div>

</div>


<br />
<br />
<br />


<div class="container">
    <h3><b class="text-white">Spare Products</b></h3>
    @if (isLoggedIn)
    {
        <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Products"
       asp-action="Index">More Products</a>
    }
    <div class="row gy-3 my-3">
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="Offers\Photo\c2b06262-09f0-422f-bff3-0f4acfeebae2_Indicator.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">Indicator</h4>
                    
                    <p> Price :<b>300</b></p>
                    
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Products"
                       asp-action="Offer"
                       asp-route-filterProductName="Indicator">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="Offers\Photo\d255eced-fc02-4492-b5a2-8335b9eb8ee0_Headlight.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">Head Light</h4>
                   
                    <p> Price : <b>700</b></p>
                   
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Products"
                       asp-action="Offer"
                       asp-route-filterProductName="Head Light">Buy</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width:18rem;">
                <img class="card-img-top" src="Offers\Photo\a942a4ad-22b3-4276-a567-80c432cb0232_spare4.jpg" alt="Card image" width="100" height="200">
                <div class="card-body">
                    <h4 class="card-title">Foot Grip</h4>
                   
                    <p> Price : <b>500</b></p>
                    <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Products"
                       asp-action="Offer"
                       asp-route-filterProductName="Foot Grip"> Buy</a>
                </div>
            </div>
        </div>
    </div>

</div>





<div class="Container-sm">
    <h3><b class="text-white">Bikes</b></h3>
    @if (isLoggedIn)
    {
        <a class="btn btn-danger" asp-area="BikePortal" asp-controller="Bikes"
       asp-action="Index">See More Bikes</a>
    }
    <div id="demo" class="carousel slide" data-bs-ride="carousel">

        <!-- Indicators/dots -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
        </div>

        <!-- The slideshow/carousel -->
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="lib/Bike4.png" alt="Los Angeles" width="270" height="400" class="d-block w-100 rounded">
            </div>
            <div class="carousel-item">
                <img src="lib/Bike5.jpg" alt="Chicago" width="400" height="400" class="d-block w-100 rounded">
            </div>
            <div class="carousel-item">
                <img src="lib/Bike6.jpg" alt="New York" width="400" height="400" class="d-block w-100 rounded-lg">
            </div>
        </div>

        <!-- Left and right controls/icons -->
        <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
            <span class="carousel-control-next-icon"></span>
        </button>
    </div>
   
</div>
<br>
<br>









